body {
  font-family: Lucida Console, Monaco5, monospace;
  height: 100vh;
  margin:0;
  padding:0;
}
div.app-container {
	width:400px;
	margin:0 auto;
	padding-top:3em;
}
ul.item-container {
	width:100%;
	height:400px;
	overflow: auto;
	overflow-x:hidden;
	border: 1px solid black;
	padding:0px;
	box-sizing:border-box;
}
ul.item-container li {
	display:block;
	min-height:50px;
	max-height:50px;
	padding:5px;
	margin:5px;
	box-sizing:border-box;
	overflow:hidden;
	text-overflow:ellipsis;
	border:1px solid black;
	cursor:pointer;
}
ul.item-container li.active {
	max-height:1200px; /* Limit the item size (3*container) to allow for animation. */
	background-color:#E8E6E3;
	transition: max-height 1s;
}
ul.item-container li * {
	overflow:hidden;
	display:inline-block;
	text-overflow:ellipsis;
	max-height:none;
	width:100%;
}
li:not(.active) * {
	overflow:hidden;
    white-space: nowrap;
	max-height:1em;
}
li span.item-title {
	font-weight:bold;
	padding-bottom:5px;
}
span.new {
	float:right;
}
input.searchbar {
	width:100%;
	box-sizing:border-box;
}